@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Poppins:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Bungee Shade", cursive;
  font-family: "Poppins", sans-serif;
}

.hero {
  background: #159957; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #155799,
    #159957
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #155799,
    #159957
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn {
  background: #159957; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #155799,
    #159957
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #155799,
    #159957
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.counter {
  background-image: linear-gradient(to right, #155799, #159957);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card-top {
  background: #34e89e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #0f3443,
    #34e89e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #0f3443,
    #34e89e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
  background: #44a08d; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #093637,
    #44a08d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #093637,
    #44a08d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
